<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="pathOriginFiles" value="C:\Users\jennt\Documents\WinServices\Origin\"/>
		<add key="pathDestinyFiles" value="C:\Users\jennt\Documents\WinServices\Destiny\"/>
	</appSettings>
</configuration>